@use "../../mixings/mixing font.scss" as *;
@use "../../variable/variable.scss" as *;
@use "../../mixings/border.scss" as *;
@use "../../mixings/flex.scss" as *;

.navHeader {
  @include display-flex;
  flex-direction: column;
  color: $font-color-white;

  .nav {
   @include flex-center-no-column;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: $blackground-color-black;
    opacity: 0.7;
  

    &.active {
      @include display-flex;
    }
  }

  .nav img {
    width: 50px;
    height: auto;
  }

  .nav h1 {
    @include bilbo-font;
    color: $font-color-white;
    font-size: $font-size-big;

  }

  .nav ul {
    @include display-flex;
    list-style: none;
    margin: 0;
    padding: 5px;
  }

  .nav ul li {
    margin: 0 20px;
  }

  .nav ul li a {
    color: $font-color-white;
    text-decoration: none;
    @include bilbo-font;
    font-size: $font-size-medium;
  }

  .nav ul li a.active {
    border-bottom: 2px solid $component-color-yellow;
  }

  .nav ul li a:hover {
    color: $component-color-yellow;
  }

  .logo {
    background-image: url('/img/hobbitHole.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    @include flex-center;
    position: relative;
  }
}


.hero {
  @include flex-center;
 
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroText {
  @include bilbo-font;
  color: $font-color-white;
  font-size: $font-size-big;
  margin: 0;
  margin-bottom: 20px;
}

.cta {
  padding: 10px 20px;
  background-color: $component-color-yellow;
  @include border-none;
  font-size: $font-size-medium;
  color: $blackground-color-black;
  cursor: pointer;
  @include bilbo-font;
  opacity: 0.7;
}

.cta:hover {
  background-color: $component-color-yellow;
  color: $font-color-white;
}

.about {
  background-color: $background-color-green;
  text-align: center;

  h2 {
    color: $font-color-white;
    font-size: $font-size-big;
    margin: 0;
    padding: 10px;
    @include bilbo-font;
  }

  p {
    @include para-font;
    color: $font-color-white;
    font-size: $font-size-small;
    margin: 0;
    padding: 10px;
  }

}

    a {
      text-decoration: none;
      color:$font-color-white;
    }

@media (max-width: 768px) {
  .navHeader {
    .nav {
      height: 50px;
      @include display-flex;
      flex-direction: column;
      justify-content: center;
      top: 5px;
      position: fixed;


    }


    .nav h1 {
      font-size: $font-size-small;
      margin-top: 40px;
      color: $background-color-dark;
      font-weight: bold;
      margin: 0;
      margin-left: 0;
    }

    .logo img {
      display: none;
    }

    .nav ul li a {
      font-size: 1rem;
    }

    .hero {
      top: 20%;
    }

    .heroText {
      font-size: $font-size-small;
    }

    .cta {
      font-size: $font-size-small;
    }

    .about h2 {
      font-size: 2rem;
    }

    .about p {
      font-size: 1.2rem;
    }
  }
}


@media (max-width: 910px) {
  .navHeader {
    .nav {
      height: 50px;
      @include display-flex;
      flex-direction: column;
      justify-content: center;
      top: 5px;
      width: 100%;
      position: fixed;


    }

    .nav h1 {
      font-size: $font-size-small;
      margin-top: 40px;
      color: $background-color-dark;
      font-weight: bold;
      margin: 0;
    }

    .logo img {
      display: none;
    }

    .nav ul li a {
      font-size: 1rem;
    }

    .hero {
      top: 20%;
    }

    .heroText {
      font-size: $font-size-small
    }

    .cta {
      font-size: $font-size-small;
    }

    .about h2 {
      font-size: 2rem;
    }

    .about p {
      font-size: 1.2rem;
    }
  }
}