@use "../../mixings/mixing font.scss" as *;
@use "../../mixings/mixing shadow.scss" as *;
@use "../../variable/variable.scss" as *;
@use "../../mixings/border.scss" as *;
@use "../../mixings/flex.scss" as *;

.books-container {
  @include display-flex;
  @include border-none;
  flex-wrap: nowrap;
  margin-top: 25px;
  justify-content: flex-end;

  // För små skärmar, använd grid-layout
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
    padding: 0 15px;
  }
}

.bookHead {
  flex: 1;
  text-align: left;
  @include display-flex;
  flex-direction: column;
  padding-left: 105px;
  font-size: 1.8rem;
  margin-top: -20px;
  @include bilbo-font;
  @include border-none;

  p {
    font-size: 1.6rem;
    margin: -20px 0 0;
    text-align: left;
    width: 45%;
    word-break: break-word;
    color: $blackground-color-black;

    @media (max-width:1200px) {
      width: 60%;
    }



    @media (max-width: 768px) {
      width: 100%;
      font-size: $font-size-small;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    padding-left: 20px;
    font-size: $font-size-medium;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
}

.bookies {
  flex: 2;
  @include display-flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: -22px;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-right: 30px;

  @media (max-width: 768px) {
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
    padding-right: 0;
    gap: 10px;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .bookHead {
    padding-left: 50px;


    p {
      width: 100%;
    }

  }

  .bookies {
    padding-left: 40px;
  }
}


.book {
  background-color: $background-color-lightGreen;
  padding: 10px;
  @include shadow;
  @include flex-center;
  max-width: 250px;
  margin-left: 0;
  cursor: pointer;
  margin-bottom: 10px;
  @include border-none;

  @media (max-width: 768px) {
    max-width: 100%;
    width: 80%;
    margin-left: 0;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
}

.bookTitle {
  font-size: $font-size-medium;
  font-weight: bold;
  color: $blackground-color-black;
  cursor: pointer;
  margin: 0 0 5px;
  text-align: center;

  @include bilbo-font;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    font-size: $font-size-small;
  }
}

.chapters {
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: #606c68;
  @include border-none;
  color: $font-color-white;
  display: none;
  @include para-font;

  li {
    font-size: 1rem;
    margin: 5px 0;

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
  }

  &[style="display: block;"] {
    display: block;
  }
}