$font-color-white: #fff;
$blackground-color-black: #333;
$component-color-yellow:#FFD700;
$background-color-green: #8E8640;
$background-color-dark: #000000;
$background-color-lightGreen: #97A69F;
$font-size-big: 2.5rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.2rem;
