@use "../../mixings/mixing\ font.scss" as *;
@use "../../variable/variable.scss" as *;
@use "../../mixings/border.scss" as *;
@use "../../mixings/flex.scss" as *;
@use "../../mixings/mixing\ shadow.scss" as *;
@use "../../mixings/width/height.scss" as *;

.search-container {
  @include flex-center;
  margin-top: 70px;

  @media (max-width: 768px) {
    margin-top: 60px;
  }

  h2 {
    @include bilbo-font;
    font-size: $font-size-big;
    margin-top: -30px;
    text-align: center;
  }

  .search-input-container {
    @include flex-center-no-column;
    margin-top: -10px;
    padding-left: 22px;

    .search-input {
      @include para-font;
      color: $font-color-white;
      background-color: $background-color-lightGreen;
      width: 200px;
      padding: 10px;
      text-align: center;
      @include border-none;
      @include shadow-quote;
    }

    input::placeholder {
      color: $font-color-white;
      opacity: 0.8;
    }

    .search-button {
      width: 33px;
      height: 35px;
      padding: 10px;
      margin-left: 10px;
      @include border-yes;
      border: $background-color-lightGreen;
      background-image: url("/img/tree-logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @include shadow-quote;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      .search-input {
        width: 150px;
        font-size: 0.6rem;
        margin-left: 0;
        margin-top: -10px;
        padding-left: 10px;
      }

      .search-button {
        margin-top: -10px;
        height: 33px;

      }

    }
  }
}

.loading-img-glow {
  width: 100px;
  border: 3 int shadow;
}

.loading-img {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: 20px;
  animation: spin 2s linear infinite, dual-glow 2s ease-in-out infinite;
  @include animation-shadow;

  @keyframes dual-glow {

    0%,
    100% {
      filter:
        drop-shadow(0 0 10px red) drop-shadow(0 0 20px orange) drop-shadow(0 0 30px crimson) drop-shadow(0 0 15px white) drop-shadow(0 0 30px lightblue) drop-shadow(0 0 45px skyblue) drop-shadow(0 0 60px white);
    }

    50% {
      filter:
        drop-shadow(0 0 20px red) drop-shadow(0 0 30px orange) drop-shadow(0 0 40px crimson) drop-shadow(0 0 25px white) drop-shadow(0 0 40px lightblue) drop-shadow(0 0 60px skyblue) drop-shadow(0 0 80px white);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

}



.results-container {
  @include display-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;

  p {
    @include bilbo-font;
    font-size: 1.2rem;
    text-align: center;
  }
}

.character-card {
  background: linear-gradient(135deg, #97A69F, #a2aaa6);
  @include border-none;
  @include shadow-quote;
  width: 250px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.character-card h4 {
  font-size: $font-size-medium;
  color: $blackground-color-black;
  margin-bottom: 10px;
  @include bilbo-font;
}

.character-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.character-card li {
  font-size: 0.9rem;
  color: $blackground-color-black;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  @include para-font;
  word-break: break-all;
}



@media (max-width: 768px) {
  .character-card {
    width: 65%;
  }
}