@use "../../mixings/mixing\ font.scss" as *;
@use "../../variable/variable.scss" as *;
@use "../../mixings/border.scss" as *;
@use "../../mixings/flex.scss" as *;
@use "../../mixings/mixing\ shadow.scss" as *;
@use "../../mixings/width/height.scss" as *;


.movie-container {
  @include flex-center;
  margin-top: 40px;

  h2 {
    @include bilbo-font;
    font-size: $font-size-big;
    font-weight: bold;
    text-align: center;
  }

  .button-container {
    @include display-flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 200px;
    margin-bottom: 20px;
    margin-top: -75px;

    button {
      background-color: $blackground-color-black;
      border: $blackground-color-black;
      @include border-yes;
      color: $font-color-white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      @include flex-center;
      padding: 0;
      font-size: 0.7rem;
      cursor: pointer;
    }
  }

  .movie-card {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    width: 700px;
    height: auto;
    margin-bottom: 20px;
    @include display-flex;
    flex-direction: column;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    margin-top: -30px;

    &:hover {
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
    }

    .movie-image {
      width: 100%;
      height: auto;
      border-bottom: 2px solid #ddd;
      transition: transform 0.4s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    h3,
    p {
      margin: 10px 15px;
      padding: 0;
    }

    h3 {
      font-size: $font-size-medium;
      @include bilbo-font;
    }

    p {
      @include para-font;
      margin-top: -5px;
    }
  }
}

// Responsiv design
@media (max-width: 768px) {
  .movie-container {
    .movie-card {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}